<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.gov.mhrd.helper">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MedicalStore"></activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />

        <activity android:name=".MapsActivity" />
        <activity android:name=".foodActivity" />
        <activity android:name=".FundActivity" />
        <activity
            android:name=".DistrictDataActivity"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StateDataActivity" />
        </activity>
        <activity
            android:name=".StateDataActivity"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CoronaActivity" />
        </activity>
        <activity android:name=".CoronaActivity" />
        <activity android:name=".Admin" />
        <activity android:name=".Fundraisers" />
        <activity android:name=".ReturnKerala" />
        <activity android:name=".MigrantWorker" />
        <activity android:name=".People" />
        <activity android:name=".Patient" />
        <activity android:name=".HealthWorker" />
        <activity android:name=".UserDashboard" />
        <activity android:name=".Home" />
        <activity android:name=".MedicineRequest" />
        <activity android:name=".VolunteerProfile" />
        <activity android:name=".VolunteerReg" />
        <activity android:name=".DoctorAppointment" />
        <activity android:name=".Courses" />
        <activity android:name=".Tollfree" />
        <activity android:name=".Login" />
        <activity android:name=".DashboardActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>